<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <!-- <link rel="stylesheet" href="/css/votePageStyle.css"> -->



  <!-- <style>
    body {
      padding: 80px;
    }

    .voterId {
      width: 20%;
    }
  </style> -->
</head>

<body>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong> Thanks for registering to this online voting system. </strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>






    <div class="container">
      <h1> Welcome Andrea</h1>
      <p>
          Please Vote For Your Favorite Candidate
      </p>

      <form id="presidential-vote">
          <p>
              <input type="radio" name="presidential" value="Origina Nakotey" id="vote">
              <label for="presidential"> Original Nakotey </label>
          </p>
          <p>
              <input type="radio" name="presidential" value="Chairman Cyrii" id="vote">
              <label for="presidential"> Chairman Cyrii </label>
          </p>
          <p>
              <input type="radio" name="presidential" value="Jackie" id="vote">
              <label for="presidential"> Jackie The Script Goddess </label>
          </p>
          <p>
              <input type="radio" name="presidential" value="Salami" id="vote">
              <label for="presidential"> Salami </label>
          </p>

          <input type="submit" value = 'Click To Vote' class='btn'>
      </form>

      <br><br>
      <div id="chartContainer" style="height: 20rem; width:100%"></div>
      
      


  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>

</html>
